* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: hsl(210, 46%, 95%);
    font-family: Manrope;
    font-size: 14px;
}
.container {
    display: flex;
    background-color: white;
    border-radius: 1rem;
    /* overflow: hidden; */
    max-width: 50rem;
}
img[alt=drawers] {
    width: 40%;
    background-size: cover;
    border-radius: 1rem;
}
.sub-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
}
.heading {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: hsl(217, 19%, 35%);
}
.main {
    color: hsl(214, 17%, 51%);
    line-height: 1.4rem;
}
.profile-container {
    position: relative;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
img[alt=michelle] {
    width: 2.7rem;
    border-radius: 50%;
}
.info {
    h1 {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
        color: hsl(217, 19%, 35%);
    }
    p {
        color: hsl(214, 17%, 51%);
    }
}
.icon-container {
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}
.icon-container:hover {
    background-color: hsl(210, 46%, 85%);
}
.icon-container:active {
    background-color: hsl(210, 46%, 95%);
}
.icon-container img {
    width: 50%;
}
#links-container {
    z-index: 1;
    position:absolute;
    top: -200%;
    right: 0;
    transform: translateX(40%);
    display: none;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    background-color: hsl(217, 19%, 35%);
    width: 17rem;
}
#links-container a {
    text-decoration: none;
    transition: transform .2s;
}
#links-container a:hover {
    transform: scale(1.1) translateY(-0.1rem);
}

#links-container p {
    color: hsl(210, 46%, 85%);
    letter-spacing: 0.5rem;
    margin-right: 1rem;
}
#square {
    display: none;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: hsl(217, 19%, 35%);
    top: -120%;
    right: 0;
    transform: rotateZ(45deg) translateX(-10%);
}

@media (max-width:940px){
    body {
        align-items: flex-start;
        height: auto;
    }
    .container {
        margin: 1.5rem;
        max-width: 25rem;
        flex-direction: column;
    }
    img[alt=drawers] {
        width: 100%;
    }
    .heading {
        font-size: 1.3rem;
    }
    #links-container {
        transform: translateX(10%);
    }
}