* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: hsl(210, 46%, 95%);
    font-family: Manrope;
    font-size: 14px;
}
.container {
    display: flex;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 50rem;
}
img[alt=drawers] {
    width: 40%;
    background-size: cover;
}
.sub-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
}
.heading {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: hsl(217, 19%, 35%);
}
.main {
    color: hsl(214, 17%, 51%);
    line-height: 1.4rem;
}
.profile-container {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
img[alt=michelle] {
    width: 2.7rem;
    border-radius: 50%;
}
.info {
    h1 {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
        color: hsl(217, 19%, 35%);
    }
    p {
        color: hsl(214, 17%, 51%);
    }
}
.icon-container {
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container img {
    width: 50%;
}